<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Series</title>
</head>
<body>
<form method="post" action="/add">
    <label>
        Title
        <input type="text" name="title">
    </label><br>
    <label>
        Source:
        <select name="source">
            <option value="comixology">Comxiology</option>
            <option value="crunchyroll">Crunchyroll</option>
            <option value="jumpfree">WSJ Free Section</option>
            <option value="jumpmagazine">WSJ Magazine</option>
        </select>
    </label><br>
    <label>
        URL:
        <input type="text" name="url">
    </label><br>
    <label>
        Lookup URL:
        <input type="text" name="lookup">
    </label><br>
    <input type="submit" value="ADD">

</form>

</body>
</html>