
body{
    background-color: #181818;
}

.form-inline .input-group{
    width: 100%;
}

.page-title{
    font-family: 'Permanent Marker', cursive;
}

nav{
    margin-bottom: 5px;
    background-color: #0bba00;
}

div.container {
    width: 95%;
    margin: auto;

}

.source-logo{
    width: 50px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: 3px;
}

.series-list{
}
.series-delete{
    text-align: right;
}

.series-delete a {
    color: white;
}

.chapter{
    font-family: "Permanent Marker", cursive;
}
.series-delete a:hover{
}

.series-title{
    text-align: center;
    clear: both;

}

.series-title a{
    color:white;
    font-family: 'Permanent Marker', cursive;

}

.series-title a:hover{

}

.series{
    width: 250px;
    background-color: #008000;
    padding: 1%;
    margin: 1%;
}

.series-image{
    width: 80%;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 1%;
    float: left;
}

form.add-comic {
    width: 70%;
 }