
body{
    padding-top: 7%;
    background-color: #181818;
}

.form-inline .input-group{
    width: 100%;
}

.page-title{
    font-family: 'Permanent Marker', cursive;
}

nav{
    margin-bottom: 5px;
    background-color: #0bba00;
}

div.container {
    width: 95%;
    margin: auto;
}

.series-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
}

.series-title{
    color:white;
    font-family: 'Permanent Marker', cursive;
    text-align: center;

}

.series{
    width: 30%;
    background-color: #008000;
    padding: 1%;
    margin: 1%;
}

.series-image{
    width: 70%;
    height: auto;
    margin-bottom: 1%;
}

form.add-comic {
    width: 70%;
 }